<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd  
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.lafengmaker">
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
	<mvc:annotation-driven />
	<!-- 当在web.xml 中   DispatcherServlet使用     <url-pattern>/</url-pattern> 映射时，能映射静态资源 -->
    <mvc:default-servlet-handler/>
    <!-- 静态资源映射 -->
    <mvc:resources mapping="/resources/**" location="/WEB-INF/resources/" />
    <bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">  
        <property name="prefix" value="/WEB-INF/views/template/" />  
        <property name="suffix" value=".html"/>  
        <property name="templateMode" value="HTML5" />  
        <property name="cacheable" value="false" />    
        <property name="characterEncoding" value="UTF-8"/>  
	</bean>  
	
	<bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">  
        <property name="templateResolver" ref="templateResolver" />  
        <property name="additionalDialects">  
            <set>  
                <bean class="org.thymeleaf.extras.tiles2.dialect.TilesDialect"/>  
               <!--  <bean class="org.thymeleaf.extras.springsecurity3.dialect.SpringSecurityDialect"/>  
                <bean class="org.thymeleaf.extras.conditionalcomments.dialect.ConditionalCommentsDialect"/>   -->
            </set>  
        </property>  
    </bean>  
    <bean id="viewResolver" class="org.thymeleaf.spring3.view.AjaxThymeleafViewResolver">
    	<property name="viewClass" value="org.thymeleaf.extras.tiles2.spring3.web.view.FlowAjaxThymeleafTilesView"/>  
        <property name="templateEngine" ref="templateEngine"/>  
        <property name="characterEncoding" value="UTF-8"/>  
        <property name="order" value="0"/>  
    
    </bean>
	<bean id="tilesConfigurer" class="org.thymeleaf.extras.tiles2.spring3.web.configurer.ThymeleafTilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/layouts/tiles-def.xml</value>
			</list>
		</property>
	</bean>
</beans>